<div class="container-fluid">
  <div style="margin: auto">
  <div *ngIf="currentCharacter" class="edit-form">
    <h3>{{ currentCharacter.name }}</h3>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          value="{{ currentCharacter.name }}"
        />
      </div>
      <div *ngIf="currentCharacter.image" class="form-group">
        <label for="name">Image</label>
        <img src="{{currentCharacter.image}}" class="img">
      </div>
      <div class="form-group">
        <label for="name">Slug</label>
        <input
          type="text"
          class="form-control"
          name="slug"
          value="{{ currentCharacter.slug }}"
        />
      </div>
      <div class="form-group">
        <label for="name">Gender</label>
        <input
          type="text"
          class="form-control"
          name="gender"
          value="{{ currentCharacter.gender }}"
        />
      </div>
      <div *ngif="currentCharacter.house" class="form-group">
        <label for="name">House</label>
        <input
          type="text"
          class="form-control"
          name="house"
          value="{{ currentCharacter.house }}"
        />
      </div>
      <div class="form-group">
        <label for="name">Titles</label>

        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let title of currentCharacter.titles; let i = index"
          >
            <div class="col-md-3">{{ i }}</div>
            <div class="col-md-3">{{ title }}</div>
          </li>
        </ul>
      </div>
      <div class="form-group">
        <label for="name">Books</label>
      
          <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let book of currentCharacter.books; let i = index"
          >
            <div class="col-md-3">{{ i  + 1}} - {{ book }}</div>
          </li>
        </ul>

      </div>
    </form>
  </div>
</div>
</div>
