<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="search"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="getCharacter()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
  </div>

  <div class="col-md-6">
    <h4>Game of Thrones Chatacters</h4>

    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="
          let character of characters
            | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: count
                };
          let i = index
        "
      >
        <div class="col-md-3">{{ character.name }}</div>
        <div class="col-md-3">{{ character.house }}</div>
        <div class="col-md-3">{{ character._id }}</div>
        <div class="col-md-3">
          <a
            class="badge badge-success"
            routerLink="/characters/{{ character._id }}"
            >Details
          </a>
        </div>
        <div class="col-md-3">
          <button
            type="button"
            class="btn btn-primary"
            (click)="openModal(character._id)"
          >
            Details
          </button>
        </div>
      </li>
    </ul>
  </div>
  ...

  <div class="mt-3"></div>
</div>
